// Sidebar Color
@mixin scroll-horizon($size) {
    &::-webkit-scrollbar-track {
        background-color: #fff;
        height: $size;
    }
    &::-webkit-scrollbar {
        height: $size;
        background-color: #fff;
    }
    &::-webkit-scrollbar-thumb {
        // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #d8d8d8;
    }
}
