.footer {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("/images/backgrounds/banner2-background.jpeg");
    background-size: cover;
    background-position: center;
    .footer-top {
        a {
            color: #fff;
            &:hover {
                color: $danger;
            }
        }
        hr {
            border-bottom: 1px solid #d0d8f1;
        }
    }
    .footer-bottom {
        position: relative;
        iframe {
            width: 100% !important;
            height: 130px !important;
        }
    }
    .copyright {
        background-color: black;
    }
}
