.footer {
    .footer-top {
        background-color: #024073;
        a {
            color: #fff;
            &:hover {
                color: $danger;
            }
        }
        hr {
            border-bottom: 1px solid #1d40a8;
        }
    }
    .footer-bottom {
        background-color: #024073;
        position: relative;
        .copyright {
            p {
                margin: 0 !important;
            }
        }
    }
}
