.footer {
    .footer-menu-item {
    }
    .footer-bottom {
        background-color: $light;
        position: relative;
        .copyright {
            p {
                margin: 0 !important;
            }
        }
    }
}
