.hrm-btn-info {
    border: 1px solid #b2e2f5;
    border-radius: 5px;
    color: $main-blue;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
    &:hover,
    &.active {
        border: 1px solid $main-blue;
        border-radius: 5px;
        color: #fff;
        background-color: $main-blue;
    }
}

.hrm-btn-info-solid {
    background: $lighten-blue;
    border-radius: 5px;
    color: $main-blue;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
    &:hover,
    &.active {
        color: #fff;
        background-color: $main-blue;
    }
}

.hrm-btn-info-solid-dark {
    background: $light-blue;
    border-radius: 5px;
    color: $main-blue;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
    &:hover,
    &.active {
        color: #fff;
        background-color: $main-blue;
    }
}

.btnlike {
    cursor: pointer;
}
